#p::first-letter{
<<<<<<< HEAD
    font-size: 50px;
    color:rgb(238, 59, 59);
=======
    font-size: 30px;
>>>>>>> 0afc12cfb3ea8fe5e04fd89440bc71fc643cfd09
}
.Div{
    border: solid ;
    border-color: black;
    background: url(../images/drone.jpg)no-repeat yellow ;
    background-attachment: fixed;
    word-spacing: 50%;
    background-size: 500px 1000px;
    
    
}
.p2{
    background-image: url(../images/download.jpg);
    border-color:blueviolet;
}
h1{
    text-shadow: 5px 5px red;
}
h2{
<<<<<<< HEAD
    color: rgb(0, 255, 42);
}
ul.a{list-style-type: square;}
=======
    color: blue;
}
>>>>>>> 0afc12cfb3ea8fe5e04fd89440bc71fc643cfd09
