// ------font-size
$fnt-s-1:30px;
$fnt-s-2:16px;
$fnt-s-3:18px;
$fnt-s-4:22px;

// .......font-color
$clr-1:blue;
$clr-2:red;
$clr-3:green;
$clr-4:#00ccf0;
$clr-5:#3400f0;
$clr-6:#ff5405 ;

// -----font-style
$fs-1:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$fs-2:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$fs-3:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fs-4:"Playwrite DE SAS", cursive;
$fs-5:"Source Code Pro", monospace;
$fs-6:"Lobster", sans-serif;

// ------background-color
$bg-1:aquamarine;
$bg-2:whitesmoke;
$bg-3:black;
