#box1{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    position: absolute;
    /* normal liner  */
    animation: myAnima 5s ease-in-out infinite alternate;
}
#box2{
    height: 80px;
    width: 80px;
    background-color:black;
    position: absolute;
    /* reverse ease */
    animation: myAnima 10s reverse infinite ease;
}
#box3{
    height: 75px;
    width: 75px;
    background-color:rgb(240, 33, 33);
    position: absolute;
    /* alternate ease-in */
    animation: myAnima 10s alternate infinite ease-in;
}#box4{
    height: 50px;
    width: 50px;
    background-color:rgb(0, 0, 0);
    position: absolute;
    /* alternate-reverse ease-out */
    animation: myAnima 10s alternate-reverse infinite ease-out;
}
@keyframes myAnima {
    0%{
        left: 0%;
    }
    10%{
        top:50%
    }
    50%{
        background-color: aqua;
        border-radius:20%;
        top:50%; left:50%
    
    }
    60%{
         
        color: violet;
    }
    100%{
        background-color: brown;
        border-radius: 50%;
        left: 90%;
    }
}

